*{
	margin: 0;
	padding:0;
	box-sizing:border-box;
	list-style-type: none;
	font-family: 'Cabin', sans-serif;
}

body{
	background-color: #fffbef!important;
	letter-spacing: 0.9px;
	transition: transform .2s;
    animation-name: contentFadeIn;
    animation-duration: 1.5s;
}

@keyframes contentFadeIn{
    0% {opacity:0;}
    100% {opacity:1;}  
}

p{	
	color: #297373;
	font-size: 20px;
	line-height: 40px;
}

/*html {
  scroll-behavior: smooth;
}*/


/* Navbar - START*/

@media (min-width: 992px){
	.navbar-collapse {
		flex-direction: row-reverse !important;
	}
}

.bg-light{
	background-color: #fffbef !important;
	padding: 25px;
}

.navbar-light .navbar-toggler {
    color:#297373;
    border-color: transparent;
	outline: none;
}

/* Navbar - END*/


/* Hero image - START*/

.jumbotron {
	text-align: left;
	color: #fff;
	background-image: url("https://yves91.github.io/ark-consultancy/assets/london-eye_1920x700.jpg");
	height: 450px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
	border-radius: 0px 0px 25px 25px;
}

.jumbotext{
	padding: 40px;
}

/* Hero image - END*/


/* H Tags - START*/

h1{
	text-shadow: 2px 1px 14px #6f6f6f;
	font-weight: bold;
    font-size: 60px;
    letter-spacing: 3.9px;
}

h2{
	color: #297373;
	font-weight: bold;
}

h3{
	text-align: center;
	color: #297373;
}
/* H Tags - END*/


label{
	color: #39393A;
}


a:link {
  color: #297373;
  background-color: transparent;
  text-decoration: none;
  font-size: 18px;
}

a:visited {
  color: #297373;
  background-color: transparent;
  text-decoration: none;
}

a:hover{
	color: #FF8552;
}

li{
	padding:10px;
	color: #297373 ;
	font-weight: bold;
    letter-spacing: 1px;
}

.btn:not(:disabled):not(.disabled) {
	background-color: #297373;
	color: #fff;
	text-align: center;
    font-weight: bold;
    font-size: 17px;
    border-radius: 10rem;
    padding: 15px;
    transition: transform .2s;
    letter-spacing: 0.9px;
}

.btn-primary {
    border: none;
}



#blockText{
	margin-top: 70px;
    margin-bottom: 70px;
}

img{
	border-radius: 10px;
}

#person > img{
	height: 75%;
	opacity: 1.0;
}

#person > img:hover{
	opacity: 0.5;
}

#parallaxImage{
	background-image: url("https://yves91.github.io/ark-consultancy/assets/houses-parallax.png");
	background-attachment: fixed;
	background-repeat: no-repeat;	
	background-size: cover;
	background-position: center;
	min-height: 300px; 	
}

#parallaxImage2{
	background-image: url("https://yves91.github.io/ark-consultancy/assets/office-parallax.png");
	background-attachment: fixed;
	background-repeat: no-repeat;	
	background-size: cover;
	background-position: center;
	min-height: 300px; 	
}

.col-sm #blockText{
	padding: 20px;
}

.col-sm{
	text-align: center;
}


.row {
	margin: 0 !important;
    text-align: center;
	padding: 20px;
}

input{
	border:none;
	padding:8px;
	width:300px;
}

#bookConsultancy{
	min-height: 400px;
	padding:20px;
	text-align: center;
}

#submitBtn{
	text-align: center;
	background-color: #297373;
	color: #fff;
	font-weight: bold;
	font-size: 17px;
	border-radius: 10rem;
	padding: 15px;
	transition: transform .2s;
	letter-spacing: 0.9px;
}

#submitBtn:hover{
	background-color: #FF8552;
	cursor: pointer;
	transform: scale(1.04);
}

.btn-lg{
	border-radius: 10rem !important;
}

#footer{
	background-color: #297373;
	height:200px;
}

.designedBy{
	margin-top: 50px;
	color: #fff;
}
